# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.egg-info/
.venv/
venv/
dist/
build/
*.egg
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
.DS_Store
*.log
dev.log
dev_err.log
uvicorn.log
uvicorn_err.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.env.local

# Local Netlify folder
.netlify
